<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
</head>
<body>
	
<textarea style="width: 100%" rows="50">{| class="wikitable sortable"
|-
! Website !! data-sort-type="number" | Users !! Focus !! Registration
{%- for i in instances | sort(false, false, 'host') %}
{%- set info = i.host | instanceInfo %}
{%- if not info.error %}
|-
| [https://{{i.host}} {{i.host}}] || {{ info.stats.user_count | numberFormat }} || {{ i.wikifurDescription }} || {{ info | registrationStatus }}
{%- endif %}
{%- endfor %}
|}</textarea>
</body>
</html>